:root {
  /* Gray */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray: #858383;
  
  /* Red */
  --color-red: #e11f1f;
  --color-light-red: #ff0000;
  
  /* Green */ 
  --color-light-green: #8BC34A;
  --color-green: #4CAF50;
  --color-green1: #f3faf3;
  --color-green2: #e3f5e3;
  --color-green3: #c8eac9;
  --color-green4: #9dd89f;
  --color-green5: #6bbd6e;
  --color-green6: #6bbd6e;
  --color-green7: #4caf50;
  --color-green8: #4caf50;
  --color-green9: #275429;
  --color-green10: #224525;
  --color-green11: #0e2510;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Helvetica', sans-serif;
}

body {
  background-image: url(/src/assets/img/fondo11.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* .title-container {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px 5px rgba(255, 247, 247, 0.5),
                 -2px -2px 5px rgba(248, 248, 248, 0.158),
                 2px -2px 5px rgba(210, 220, 210, 0.6);
    margin-top: 20px;
    font-family: 'Luckiest Guy', cursive;
    -webkit-text-stroke: 2px rgba(27, 109, 27, 0.863);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    animation: bounce 2s infinite ease-in-out, colorChange 5s infinite linear;
} */

/* .title-container::before {
    padding-top: 10px;
} */

/* Animación para el movimiento suave */
/* @keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes colorChange {
    0% {
        color: #00ff2a;
    }
    25% {
        color: #09a516;
    }
    50% {
        color: #0f631d;
    }
    75% {
        color: #238639;
    }
    100% {
      
        color: #00ff2a;
    }
} */

/* Aplicar la animación de color a las clases seguro, peligroso y separador */
.seguro, .peligroso, .separador {
  display: block;
  grid-row: span;
  font-family: 'Luckiest Guy', cursive;
  font-weight: 400;
  text-shadow: 2px 2px 2px var(--color-black);

  /* Animación de cambio de color */
  animation: colorChange 5s infinite linear;
}

.seguro { color: #cfcfcf; }
.separador { color: #ccc; }
.peligroso { color: #ccc; }

.separador {
 margin-right: 10px;
  margin-left: 10px;
  font-size: 24px;
}
/* Modificar el contenedor principal */
.app-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 120px; /* Aumentado para dar más espacio al top-bar */
}

.content {
  background-color: rgba(255, 255, 255, 0.795);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}

/* .game-title {
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
} */

.alejo-image {
  position: fixed;
  bottom: 60px;
  left: 10px;
  width: 300px;
  height: auto;
  z-index: 1000;
}

.top-bar {
  position: fixed;
  top: 250px; /* Posición fija desde la parte superior */
  left: 50%;
  transform: translateX(-50%);
  max-width: 800px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
}
.timer, .score {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Luckiest Guy', cursive;
  color: #ffffffd7;
  letter-spacing: 0.1rem; /* Aumenta el espaciado entre letras */
}

.timer-digits, .score-digits {
  font-size: 2rem;
  color: var(--color-light-red);
  letter-spacing: 0.1rem; /* Aumenta el espaciado entre los dígitos */
}


.level-selector {
  display: flex;
  align-items: center;
}

.level-selector label {
  margin-right: 0.5rem;
  font-family: 'Luckiest Guy', cursive;
  font-size: x-large;
  color: var(--color-black);
}

.level-selector select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid var(--color-light-green);
  background-color: var(--color-white);
  color: var(--color-green);
  cursor: pointer;
}

.level-selector option {
  background-color: var(--color-green3);
}

.game-area {
  margin-bottom: 2rem;
}

.containers {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.container {
  width: 45%;
  aspect-ratio: 1;
  background-color: var(--color-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  border: 3px solid var(--color-green5);
  transition: transform 0.1s cubic-bezier(0.25, 0.1, 0.25, 1);
  position: relative;
}

.container:hover {
  transform: scale(1.05);
}

.container.selected-correct {
  border-color: var(--color-green);
}

.container.selected-incorrect {
  border-color: var(--color-light-red);
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.feedback.correct {
  background-color: rgba(76, 175, 80, 0.8);
}

.feedback.incorrect {
  background-color: rgba(210, 32, 32, 0.717);
}

.completion-message {
  font-family: 'Luckiest Guy', cursive;
  color: #000000;
}

.perdiste {
  color: #ff0000;
}

.button-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.start {
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 0.6em 1.2em !important;
  font-size: 1em !important;
  color: white !important;
  cursor: pointer !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  font-family: inherit !important;
  border: 1px solid transparent !important;
  background-color: var(--color-green) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease !important;
}

button:hover {
  background-color: darkgreen !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3) !important;
}

button:active {
  transform: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.colorful-lights {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

.light {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px #000000;
  background-color: rgba(255, 255, 255, 0.8);
  animation: twinkle var(--duration) infinite;
  animation-delay: var(--delay);
  left: var(--x);
  top: var(--y);
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}

.light:nth-child(5n + 1) { background-color: rgba(255, 0, 0, 0.8); }
.light:nth-child(5n + 2) { background-color: rgba(0, 255, 0, 0.8); }
.light:nth-child(5n + 3) { background-color: rgba(0, 0, 255, 0.8); }
.light:nth-child(5n + 4) { background-color: rgba(255, 255, 0, 0.8); }
.light:nth-child(5n + 5) { background-color: rgba(255, 0, 255, 0.8); }

/* Estilos para los carros */
.car {
  position: fixed;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  animation: carMove 20s linear infinite;
  display: flex;
  align-items: flex-end;
}

.car::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 10px;
  width: 40px;
  height: 20px;
  background-color: #747474e0;
  border-radius: 5px 5px 0 0;
}

.wheel {
  position: absolute;
  bottom: -5px;
  width: 14px;
  height: 14px;
  background-color: #333;
  border-radius: 50%;
  animation: wheelRotate 0.5s linear infinite;
}

.wheel.left {
  left: 5px;
}

.wheel.right {
  right: 5px;
}

.car1 {
  bottom: 10px;
  background-color: #eeff00; /* Amarillo */
  animation-delay: 0s;
}

.car2 {
  bottom: 5px;
  background-color: #ff6f61; /* Naranja */
  animation-delay: 1s;
}

.car3 {
  bottom: 15px;
  background-color: #2bc4eb; /* Verde oscuro */
  animation-delay: 3s;
}

@keyframes carMove {
  0% {
    left: -60px;
    transform: scaleX(1);
  }
  45% {
    left: calc(100vw);
    transform: scaleX(1);
  }
  50% {
    left: calc(100vw);
    transform: scaleX(-1);
  }
  95% {
    left: -60px;
    transform: scaleX(-1);
  }
  100% {
    left: -60px;
    transform: scaleX(1);
  }
}

@keyframes wheelRotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}








/* * Pantallas muy grandes (PC 2000px o más) */
@media (min-width: 2000px) {
  .content {
    max-width: 1000px;
    width: 100%;
    max-height: 90vh;
  }

  .top-bar {
      max-width: 800px;
      width: 90%;
      top: 120px;
    }

  .title-image {
    max-width: 600px;
    margin-top: -40px;
    margin-left: 150px;
  }

  .alejo-image {
    max-width: 600px;
    width: 400px;
    margin-bottom: 100px;
    margin-left: 50px;
  }

  body {
    background-image: url(/src/assets/img/fondo11.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}


/* Pantallas grandes (PC 1700px - 1999px)
@media (min-width: 1700px) and (max-width: 1999px) {
  body {
    background-position: right center;
  }

  .content {
    max-width: 700px;
    width: 90%;
    max-height: 90vh;
  }

  .top-bar {
    max-width: 700px;
    width: 90%;
    max-height: 90vh;
  }

  .title-image {
    max-width: 500px;
  }

  .alejo-image {
    max-width: 500px;
  }
} */

/* Pantallas grandes (PC 1600px - 1699px) */
/* @media (min-width: 1600px) and (max-width: 1699px) {
  body {
    background-position: right center;
  }

  .content {
    max-width: 700px;
    width: 90%;
    max-height: 90vh;
  }

  .top-bar {
    max-width: 700px;
    width: 90%;
    max-height: 90vh;
  }

  .title-image {
    max-width: 450px;
  }

  .alejo-image {
    max-width: 450px;
  }
} */

/* Pantallas medianamente grandes (PC 1366px - 1599px) */
@media (min-width: 1366px) and (max-width: 1599px) {
  body {
    background-position: right center;
  }

  .content {
    max-width: 500px;
    width: 85%;
    max-height: 85vh;
  }

  .top-bar {
    max-width: 600px;
    width: 85%;
    top: 100px;
  }

  .title-image {
    max-width: 400px;
  }

  .alejo-image {
    max-width: 600px;
    width: 200px;
  }
  body {
    background-image: url(/src/assets/img/fondo11.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

/* Pantallas de escritorio normales (PC 1024px - 1365px) */
@media (min-width: 1025px) and (max-width: 1365px) {
  .content {
    max-width: 500px;
    width: 350px;
    max-height: 85vh;
    margin-left: 200px;
  }

  .top-bar {
    max-width: 300px;
    width: 100%;
    top: 120px;
    padding-left: 170px;
    flex-direction: column;
  }

  .title-image {
    max-width: 300px;
  }

  .alejo-image {
    max-width: 200px; /* Ajusta según tus necesidades */
    margin-bottom: 20px;
  }
}

/* Tablets (768px - 1023px) */
@media (min-width: 767px) and (max-width: 1024px) {
  .content {
    max-width: 350px;
    width: 100%;
    max-height: 65vh;
    margin-bottom: 20px;
  }

  .top-bar {
    max-width: 350px;
    width: 100%;
    top: 150px;
  }

 .timer, .score, .timer-digits, .score-digits, #level-select, .level-selector label {
    font-size: 14px;
  }
  

  .title-image {
    max-width: 230px;
  }

  .alejo-image {
    max-width: 600px;
    width: 150px;
  }

  body {
  background-image: url(/src/assets/img/fondo1.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
}


/* Pantallas pequeñas (teléfonos grandes, 600px - 767px) */
@media (min-width: 599px) and (max-width: 767px) {
  .content {
    max-width: 350px;
    width: 100%;
    max-height: 65vh;
    margin-bottom: 20px;
  }

  .top-bar {
    max-width: 350px;
    width: 100%;
    top: 150px;
  }
  .timer, .score, .timer-digits, .score-digits, #level-select, .level-selector label{
    font-size: 14px;
  }
  

  .title-image {
    max-width: 200px;
  }

  .alejo-image {
    max-width: 600px;
    width: 100px;
  }

  /* Cambiar el background-image para pantallas móviles pequeñas */
  body {
  background-image: url(/src/assets/img/fondo1.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
}

/* Pantallas móviles medianas (480px - 599px) */
@media (min-width: 480px) and (max-width: 599px) {
  .content {
    max-width: 350px;
    width: 100%;
    max-height: 65vh;
    margin-bottom: 20px;
  }

  .top-bar {
    max-width: 350px;
    width: 100%;
    top: 150px;
  }
  .timer, .score, .timer-digits, .score-digits, #level-select, .level-selector label{
    font-size: 14px;
  }
  

  .title-image {
    max-width: 200px;
  }

  .alejo-image {
    max-width: 600px;
    width: 100px;
  }

  /* Cambiar el background-image para pantallas móviles pequeñas */
  body {
  background-image: url(/src/assets/img/fondo11.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
}

/* Pantallas móviles pequeñas (menos de 480px) */
@media (max-width: 480px) {
  .content {
    max-width: 350px;
    width: 100%;
    max-height: 65vh;
    margin-bottom: 20px;
  }

  .top-bar {
    max-width: 350px;
    width: 100%;
    top: 150px;
  }
  .timer, .score, .timer-digits, .score-digits, #level-select, .level-selector label{
    font-size: 14px;
  }
  

  .title-image {
    max-width: 200px;
  }

  .alejo-image {
    max-width: 600px;
    width: 100px;
  }

  /* Cambiar el background-image para pantallas móviles pequeñas */
  body {
  background-image: url(/src/assets/img/fondo11.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }
}